<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" 
           Name="Enhanced Redmine Installer" 
           Language="1033" 
           Version="5.0.5.0" 
           Manufacturer="Enhanced Redmine Team"
           UpgradeCode="12345678-1234-1234-1234-123456789012">
    
    <Package InstallerVersion="200" 
             Compressed="yes" 
             InstallScope="perMachine"
             Description="Enhanced Redmine with Advanced Gantt, Excel, EVM Features" />

    <!-- Installation Directory Structure -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="Enhanced Redmine">
          
          <!-- Main Application Files -->
          <Component Id="MainExecutable" Guid="12345678-1234-1234-1234-123456789001">
            <File Id="StartRedmineScript" 
                  Source="$(var.SourceDir)\src\scripts\start-redmine.bat" 
                  KeyPath="yes" />
            <File Id="InstallPluginsScript" 
                  Source="$(var.SourceDir)\src\scripts\install-plugins.bat" />
            <File Id="ConfigureExcelScript" 
                  Source="$(var.SourceDir)\src\scripts\configure-excel.bat" />
            <File Id="CustomizeRedmineScript" 
                  Source="$(var.SourceDir)\src\scripts\customize-redmine.rb" />
          </Component>
          
          <!-- Configuration Files -->
          <Component Id="ConfigurationFiles" Guid="12345678-1234-1234-1234-123456789002">
            <File Id="ExcelConfig" 
                  Source="$(var.SourceDir)\config\excel-config.yml" 
                  KeyPath="yes" />
          </Component>
          
          <!-- Excel Templates -->
          <Component Id="ExcelTemplates" Guid="12345678-1234-1234-1234-123456789003">
            <File Id="GanttTemplate" 
                  Source="$(var.SourceDir)\templates\excel\gantt-template.xlsx" 
                  KeyPath="yes" />
            <File Id="EVMTemplate" 
                  Source="$(var.SourceDir)\templates\excel\evm-template.xlsx" />
            <File Id="ReportTemplate" 
                  Source="$(var.SourceDir)\templates\excel\report-template.xlsx" />
            <File Id="IssueExportTemplate" 
                  Source="$(var.SourceDir)\templates\excel\issue-export-template.xlsx" />
          </Component>
          
          <!-- License File -->
          <Component Id="LicenseFile" Guid="12345678-1234-1234-1234-123456789004">
            <File Id="LicenseRTF" 
                  Source="$(var.SourceDir)\LICENSE.rtf" 
                  KeyPath="yes" />
          </Component>
          
        </Directory>
      </Directory>
      
      <!-- Start Menu Shortcuts -->
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="Enhanced Redmine">
          <Component Id="StartMenuShortcuts" Guid="12345678-1234-1234-1234-123456789005">
            <Shortcut Id="StartRedmineShortcut"
                     Name="Enhanced Redmine"
                     Description="Start Enhanced Redmine Web Application"
                     Target="[INSTALLFOLDER]start-redmine.bat"
                     WorkingDirectory="INSTALLFOLDER"
                     Icon="RedmineIcon" />
            <RemoveFolder Id="RemoveApplicationProgramsFolder" On="uninstall" />
            <RegistryValue Root="HKCU" 
                          Key="Software\Enhanced Redmine" 
                          Name="StartMenuInstalled" 
                          Type="integer" 
                          Value="1" 
                          KeyPath="yes" />
          </Component>
        </Directory>
      </Directory>
      
    </Directory>

    <!-- Features Definition -->
    <Feature Id="ProductFeature" Title="Enhanced Redmine Core" Level="1" AllowAdvertise="no">
      <ComponentRef Id="MainExecutable" />
      <ComponentRef Id="ConfigurationFiles" />
      <ComponentRef Id="ExcelTemplates" />
      <ComponentRef Id="LicenseFile" />
      <ComponentRef Id="StartMenuShortcuts" />
    </Feature>

    <!-- UI Configuration -->
    <UIRef Id="WixUI_Minimal" />
    <UIRef Id="WixUI_ErrorProgressText" />

    <!-- Major Upgrade Configuration -->
    <MajorUpgrade DowngradeErrorMessage="A newer version of Enhanced Redmine is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <!-- Icon Definition -->
    <Icon Id="RedmineIcon" SourceFile="$(var.SourceDir)\src\assets\redmine-icon.ico" />
    <Property Id="ARPPRODUCTICON" Value="RedmineIcon" />

    <!-- System Requirements -->
    <Condition Message="This application requires Windows 10 or higher.">
      <![CDATA[Installed OR VersionNT >= 1000]]>
    </Condition>

    <!-- License Agreement -->
    <WixVariable Id="WixUILicenseRtf" Value="$(var.SourceDir)\LICENSE.rtf" />

  </Product>
</Wix>