<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" 
           Name="Minimal Test" 
           Language="1033" 
           Version="1.0.0.0" 
           Manufacturer="Test"
           UpgradeCode="11111111-2222-3333-4444-555555555555">
    
    <Package InstallerVersion="200" 
             Compressed="yes" 
             InstallScope="perMachine" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="Test">
          <Component Id="MinimalComp" Guid="11111111-2222-3333-4444-666666666666">
            <File Id="MinimalFile" 
                  Source="$(var.SourceDir)\LICENSE.rtf" 
                  KeyPath="yes" />
          </Component>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="MinimalFeature" Title="Test" Level="1">
      <ComponentRef Id="MinimalComp" />
    </Feature>

    <MajorUpgrade DowngradeErrorMessage="Newer version installed." />
    <MediaTemplate EmbedCab="yes" />
  </Product>
</Wix>